
CREATE OR REPLACE FUNCTION fn_dashboard_monthly_pivot(p_year INT)
RETURNS json AS '
DECLARE
    v_result JSON;
BEGIN
    SELECT json_agg(row_to_json(t)) INTO v_result
    FROM (
        SELECT 
            mes,
            SUM(CASE WHEN transaccion = '511' THEN total_asignaciones ELSE 0 END) AS primera_vez,
            SUM(CASE WHEN transaccion = '518' THEN total_asignaciones ELSE 0 END) AS reposicion,
            SUM(CASE WHEN transaccion = '522' THEN total_asignaciones ELSE 0 END) AS migracion_bnc,
            SUM(CASE WHEN transaccion = '570' THEN total_asignaciones ELSE 0 END) AS migracion_bod,
            SUM(CASE WHEN transaccion NOT IN ('511', '518', '522', '570') THEN total_asignaciones ELSE 0 END) AS pensionado,
            SUM(total_asignaciones) AS total
        FROM mv_dashboard_summary
        WHERE anio = p_year
        GROUP BY mes
        ORDER BY mes
    ) t;

    RETURN COALESCE(v_result, '[]'::json);
END;
' LANGUAGE plpgsql;

